%h4= squat.name

- if can? :update, squat
  = link_to t(:edit_squat), edit_city_squat_path(squat.city, squat), class: 'btn btn-primary btn-xs'

- if can? :create, Picture
  = link_to t(:upload_picture), new_city_picture_path(squat.city, squat_id: squat.id), class: "btn btn-primary btn-xs"

= render partial: "description", locals: {squat: squat}