- content_for :container_class do
  container-fluid

#map.full{ data: { squats_url: city_squats_path(@city, format: :json), mode: :index, latlng: @city.latlng, bounds: @city.squat_bounds, zoom: 10 } }

- content_for :footer do
  %nav#footer.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      #all_years_container
        %input#all_years{type: :checkbox, title: t(:all_years), checked: true}
        %br
        %label{ for: "all_years"}
          = t(:all_years)
      #slider_container
        #slider{ data: { from: city_start_year(@city), to: Date.today.year } }
        #year
          = t(:all_years)