%h1
  = @city.name
  squats

#map{ data: { squats_url: city_squats_url(@city, format: :json), mode: :index, latlng: @city.latlng, zoom: 10 } }

.btn-group
  = link_to t(:new_squat), new_city_squat_path(@city), class: "btn btn-default"
