#legend
  %table
    %tr
      %th
        = t(:squatted_after)
      - ["1970", "1980", "1990", "2000", "2010"].each do |year|
        %td
          = image_tag( "icons/haus_#{year}er.png" )
          %br
          = year