%h1= @city.name

#map{ data: { cities_url: city_url(@city, format: :json), mode: :show, latlng: @city.latlng, zoom: 8 } }

%p= @city.body

.btn-group
  - if can? :update, @city
    = link_to t(:edit), edit_city_path(@city), class: "btn btn-default"

  - if can? :create, Squat
    = link_to t(:new_squat), new_city_squat_path(@city), class: "btn btn-default"