%h1= @city.name

#map{ data: { cities_url: city_url(@city, format: :json), mode: :show, latlng: @city.latlng, zoom: 8, icon: get_default_icon } }

%p= @city.body

%p
  = link_to @city.external_url, @city.external_url

.btn-group
  - if can? :update, @city
    = link_to t(:edit), edit_city_path(@city), class: "btn btn-default"