// Place all the styles related to the squats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#periods
  margin-bottom: 20px
  .form-group
    display: inline-block

.squat-info
  margin-top: 25px
  h5
    font-size: 12px
    font-weight: bold
  ul
    list-style-type: none
    padding-left: 0

#legend
  display: none
  position: fixed
  z-index: 123
  width: 320px
  margin-left: -160px
  left: 50%
  background-color: white
  border-bottom: 1px solid #AAA
  border-left: 1px solid #AAA
  border-right: 1px solid #AAA
  table
    max-width: 100%
  td, th
    vertical-align: top
    text-align: center
    padding: 2px
  .year-color
    height: 10px
    border-right: 1px solid white
    border-top: 5px solid white

.pictures
  .picture
    display: inline-block
    margin-bottom: 10px
    max-width: 95px
    vertical-align: top

#sidebar
  position: absolute
  z-index: 1212
  width: 30%
  right: 0
  overflow-y: scroll
  overflow-x: hidden
  ul
    list-style: none
    padding-left: 0
  h2, h3
    margin-top: 0
  .sidebar-content
    display: none
    background-color: #FFF
    border-left: 1px solid #AAA
    overflow-y: auto
    .sidebar-inner-content
      padding: 10px