%html
  %head
    = stylesheet_link_tag 'application'
    %style
      nav#header { display: block; }
      nav#header .navbar-header { margin-left: 0; }
  %body
    %nav.navbar.navbar-default.navbar-static-top#header
      .container-fluid
        .navbar-header
          = link_to "Squatting Europe Kollective", root_url, class: "navbar-brand"
    .container
      = yield